.font1 {
  font-family: arial;
  font-size: 40px;
}

.font2 {
  font-family: arial;
  font-size: 30px;
}

.color1 {
  color: brown;
  text-shadow: burlywood;
}

.background {
  background-color: rgb(65, 119, 219);
}
